.home{
  width: 100%;
    .features{
        
        background-color:aliceblue;
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        .container {
            width: 1400px;
            display: flex;
            align-items: center;
            gap: 50px;
            .item {
              display: flex;
              flex-direction: column;
              gap: 15px;
              &:first-child {
                flex: 2;
              }
              &:last-child {
                flex: 0;
              }
      
              img{
                width: 100%;
              }
              h1 {
                font-weight: 500;
                margin-bottom: 10px;
              }
              .title {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 18px;
                color: #666;
                img {
                  width: 24px;
                  height: 24px;
                }
              }
              p {
                font-size: 18px;
                font-weight: 300;
                color: gray;
                line-height: 28px;
                letter-spacing: 1px;
              }
              .why{
                display: flex;
                flex-direction: column; 
                gap: 10px;
                
                   img{
                      width: 500px;
                     }
                }     
            }           
        }
    }
                 
}